&:active {
    .fill, .thumb {
      transition: none;
    }
  }

   &:hover .thumb, &:active .thumb {
    width: 20px;
    height: 20px;
    margin-top: -10px;
       
 .slider {
    height: 5px;
    background: rgba(255, 255, 255, 0.3);